.reasons
{
    border-radius: 20px;
background: rgba(217, 217, 217, 0.19);
}
.reasons
{
  padding: 1.3em;
  width: 90%;
  margin: 1.9em auto;
  
}
h2
{
  font-size: 1.6rem;
}
span
{
  font-size: 1rem;
}
.points
{
    margin: 1em 0;
}
@media screen and (min-width: 600px) {
  .whyMe_section_hero {
    max-width: 90%;
    margin:2em  auto;
  }
  .reasons
  {
    padding: 3em;
  }
  h2
  {
    font-size: 4rem;
  }
  span
  {
    font-size: 2rem;
  }
  .points
{
    margin: 4em 0;
}
}
