.review_card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 20px;
  border: 3px solid #228b22;
  background: rgba(215, 215, 215, 0.24);
  margin: 1em;
  min-width: 250px;
  padding: 1.4em;
  font-style: italic;
  font-weight: 200;
  line-height: 1.5;
}
.review_card img
{
    border-radius: 50%;
    border: 2px solid #228B22;
    margin: 0.5em auto;
}
@media screen and (min-width: 700px) {
    .review_card
    {
        padding: 2em 1.5em; 
    }
}